<section class="todoapp">
  <header class="header">
    <h1>{{ title }}</h1>
    <input
      class="new-todo"
      #inputElement
      (keyup.enter)="addTodoItem(inputElement)"
      [placeholder]="placeholder"
      autofocus
    />
  </header>
  <section class="main" style="display: block">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [checked]="toggleAllBtn"
      (click)="toggleAll()"
    />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li
        *ngFor="let todo of todoDataList; let i = index"
        data-id="{{ todo.id }}"
        [class]="{ completed: todo.status }"
      >
        <div class="view">
          <input
            class="toggle"
            type="checkbox"
            (click)="toggleCheck(todo)"
            [checked]="todo.status"
          />
          <label>{{ todo.text }}</label>
          <button class="destroy" (click)="deleteTodoItem(i)"></button>
        </div>
      </li>
    </ul>
  </section>
</section>
